html {
    margin: 0px;
}

body {
    margin: 0px;

}

.main-image-wrapper {
    height: 95vh;
    margin-top: 20px !important;
    text-align: center;
    width: min-content;
    margin: auto;
}

img {
    height: 100%;
}

.tooltip {
    position: absolute;
    padding: 10px 16px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 200px;
}

.tooltip-title {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.tooltip-description {
    font-family: sans-serif;
    font-weight: 200;
}