html {
    margin: 0px;
}

body {
    margin: 0px;

}

.main-image-wrapper {
    height: 95vh;
    margin-top: 20px !important;
    text-align: center;
    width: min-content;
    margin: auto;
}

img {
    height: 100%;
}

