html {
    margin: 0px;
}

body {
    margin: 0px;
}

.main-image-wrapper {
    height: 100vh;
    text-align: center;
    white-space: nowrap;
}

img {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 95%;
    margin: auto;   
    vertical-align: middle;
}

